html:not(.smoothless) {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}
